body {
    background-color: #333333;
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3rem;
}

nav a {
    color: #eeeeee;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    padding-left: 2rem;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10rem;
    font-size: 70px;
}

p {
    position: relative;
    top: 3rem;
}

h1,
p {
    text-align: center;
    color: #eeeeee;
}

strong {
    text-decoration: underline;
}