body {
    background-color: #333333;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    padding-left: 2rem;
    transition: text-decoration 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #eeeeee;
}