<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="{{ path('app_dashboard') }}">Dashboard</a>
            </nav>
        </header>
        {% block body %}
            <h1>WELCOME TO HOMEPAGE</h1>
        {% endblock %}
    </body>
</html>
